@import url("/css/navbar.css");

body{
    background-color: #F7F7F7;
}
.login-box{
    position: absolute;
    /* width: 500px;
    height: 350px; */
    left: 30%;
    top: 20%;
    /* background-color: white; */

}
.a-remember-me{
    margin-left: 6rem;
    color: rgb(77, 77, 243);
}
.input-label{
    margin: 0;
}
.inp-checkbox{
    margin-left: 1rem;
}
.login-btn{
    width: 70%;
    margin-left: 3rem;
}
.card-heading{
    margin-left: 1rem;
}
.new-account-link{
    display: flex;
    justify-content: center;
    align-items: center;
}