@import url(product.css);
.wishlist-container{
    position: relative;
    top: 10px;
    left: 25px;
    width: 100%;
    height: 100%;
}
.wishlist-heading{
    margin: 1rem;
    
    text-align: center;
}
.fa-heart{
    background-color: rgb(216, 44, 44);
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
}